<head>
  <title>TweetGrab</title>
  <link rel="icon" sizes="32x32" href="http://wormhole.carnelianvalley.com/images/footer_twitter.png">
</head>

<body>
  <div class="uk-text-center uk-width-1-1">
    <h1>Tweets from Peops 
      <span class="uk-badge uk-badge-notification">{{count}}</span>
    </h1>
  </div>
  <div class="uk-width-1-1 uk-text-center">
    {{> buttons}}
  </div>
  <hr class="uk-grid-divider">
  <div class="uk-container-center uk-container">
    {{#each tweets}}
      {{> tweet}}
    {{/each}}
  </div>
</body>

<template name="buttons">
    <button class="uk-button-primary" id="get">Get Tweets</button>
    <button class="uk-button-danger" id="clear">Clear Tweets</button>
</template>






<template name="tweet">
  <div class="uk-width-1-2 uk-container uk-container-center uk-panel uk-panel-box uk-panel-box-primary">
      <div class="uk-panel-title uk-h5">
        <span class="uk-icon uk-icon-twitter"></span>
      </div>
      <blockquote>
        <p><h3>{{message}}</h3></p>
        <small><b><em>@{{account}}</em></b> -- {{time}}</small>
      </blockquote>
  </div>
  <hr class="uk-grid-divider">
</template>


